.Heading {
  text-align: center;
  margin-bottom: 5%;
}
.Cards {
  margin-top: 5%;
  align-items: center;
}
.Card {
  width: 20rem;
  margin-bottom: 2rem;
}
.CardDescription {
  font-size: large;
}
.Votes1 {
  display: inline-block;
  background-color: rgb(119, 221, 119);
  width: 10%;
}
.Votes2 {
  display: inline-block;
  background-color: rgb(247, 113, 113);
  width: 10%;
  margin-left: 7%;
}
.UpVote {
  color: rgb(2, 2, 59);
  display: inline-block;
}
.UpVote:active {
  border-color: #00b8d8;
}
.DownVote {
  color: rgb(2, 2, 59);
  display: inline-block;
}
.UpNumber {
  margin-left: 3%;
}
.DownNumber {
  margin-left: 3%;
}
.main-container {
  margin-top: 5rem;
}
.UseButton {
  margin-top: 5%;
  color: black;
  font-size: large;
  margin-bottom: 10px;
}
.UseButton:hover {
  color: black;
}
.Icon {
  color: black;
  background-color: black;
}

.CardBody {
  min-height: 19rem;
}

.CardFooter {
  background: white;
  border-top: solid 1px cyan;
}