.NavItem {
  margin-left: 5%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.NavItem1 {
  margin-left: 5%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.WalletButton {
}
.Nav {
  width: 100%;
  float: right;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.Link {
  color: #00b8d8;
  font-size: large;
}
.Link:hover {
  text-decoration: none;
  color: azure;
}
.HeadingWallet {
  width: 130%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.address-blockie {
  border-radius: 50%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navbar {
  background-color: #222222;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.NavIcon {
  margin-right: 0.5rem;
}

.blockie-btn {
  width: 15rem;
}
