.NavItem {
  margin-left: 5%;
}
.NavItem1 {
  margin-left: 5%;
}
.Nav {
  width: 70rem;
}
.Link {
  color: #000;
}
.Link:hover {
  text-decoration: none;
  color: #000;
}
.address-blockie {
  float: left;
}

.short-address {
  float: right;
}
.NoWallet {
  float: right;
}
.address-blockie {
  border-radius: 50%;
}
