.NavItem {
  margin-left: 5%;
}
.NavItem1 {
  margin-left: 5%;
}
.Nav {
  width: 70rem;
}
.Link {
  color: cyan;
  font-size: large;
}
.Link:hover {
  text-decoration: none;
  color: azure;
}
.address-blockie {
  float: left;
}

.short-address {
  float: right;
}
.NoWallet {
  float: right;
}
.address-blockie {
  border-radius: 50%;
}
.navbar {
  background-color: black;
  color: white;
}
