.Heading {
  text-align: center;
  margin-top: 4%;
}
.NewCard {
  width: 80%;
}

.navbar {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.160784);
}
.Create {
  margin-top: 3%;
  color: black;
}
.Button {
  color: black;
}
